@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;
}

html,body {
  overflow-x: hidden;
}

.scrolling-text {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  display: flex;
}

.scrolling-text .rail {
  display: flex;
}
.scrolling-text .rail h4 {
  white-space: nowrap;
  font-size: 144px;
  font-weight: 700;
  letter-spacing: ls(120);
  line-height: 1em;
  margin: 0 2rem 0 0;
  color: white;
}

