@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none;
}

html,
body {
  overflow-x: hidden;
}

.scrolling-text {
  overflow: hidden;
  width: 100%;
  height: auto;
  display: flex;
}

.scrolling-text .rail {
  display: flex;
}
.scrolling-text .rail h4 {
  white-space: nowrap;
  font-weight: 700;
  letter-spacing: ls(120);
  margin: 0 2rem 0 0;
}

.preloader .loader {
  border-top-color: #61dafb;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body.no-scroll {
  overflow: hidden; /* Menonaktifkan scroll */
  height: 100vh; /* Pastikan tidak ada konten yang terlihat di bawah */
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  display: flex;
  z-index: 9999;
  overflow: hidden; /* Ensure content doesn't overflow during the animation */
}

.counting-number {
  font-family: "Dela Gothic One", sans-serif;
  font-size: 4rem;
  font-weight: bold;
  color: #fff;
  display: block;
  opacity: 0;
}

.loading-text {
  font-size: 1.5rem;
  color: #333;
  margin-top: 10px;
}

.backgrounddd {
  filter: blur(8px);
  -webkit-filter: blur(8px);
  transform: scale(1.05);
  border-style: solid;
}

.gambar {
  image-rendering: pixelated;
}
